body{
    padding: 0;
    margin: 0;
}
#main{
	border:1px solid  #00ff80;
	height: auto;
	width: 100%;
}
.wrapper{
	border:1px solid #000;
	height: auto;
	width: 90%;
	margin:0 auto;
}
.header{
	background-image: url("../images/banner.jpg");
	background-repeat: no-repeat;
	background-size: 100% 180px;
	border:1px solid #ff80ff;
	height: 180px;
	width: 100%;
	
}
.footer{
	border:1px solid #ff1a8c;
	height: 150px;
	width: 100%;
	background: #00cc99;
}