body{
    padding: 0;
    margin: 0;
}
#main{
	border:1px solid  #00ff80;
	height: auto;
	width: 100%;
}
.wrapper{
	border:1px solid #000;
	height: auto;
	width: 90%;
	margin:0 auto;
}
.header{
	background-image: url("../images/banner.jpg");
	background-repeat: no-repeat;
	background-size: 100% 180px;
	border:1px solid #ff80ff;
	height: 180px;
	width: 100%;
	
}
.footer{
	border:1px solid #ff1a8c;
	height: 150px;
	width: 100%;
	background: #00cc99;
}
.sidebar{
	border:1px solid #000066;
	height: 390px;
	width: 20%;
	margin-top:5px;
	margin-left:5px;
	float: left;
}
ul.list_sidebar {
    padding: 0;
    margin: 0;
    width: 100%;
    border: 1px solid #444;
    list-style: none;
    line-height: 27px;

}
ul.list_sidebar li:hover {
    background: cadetblue;
}
ul.list_sidebar li a {
    text-decoration: none;
    text-align: left;
    color: #3333ff;
    display: block;
}
ul.list_sidebar li {
    margin: 7px;
    padding: 5px;
   
}

.hinhanh_sanpham{
    float: left;
    width: 30%;
}
.clear{
	clear: both;
}